@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');

/* Variables */

$color-light: rgb(224, 221, 221);
$color-dark: rgb(0, 0, 0);
$color-one: rgb(105, 183, 235);
$color-two: rgb(179, 219, 211);
$color-three: rgb(244, 214, 219);
$color-four: rgb(249, 99, 124);
$color-five: rgb(25, 26, 33);
$color-six: rgb(9, 112, 181);

$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, $color-one, $color-two, $color-three);
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.section-title {
  color: $color-four;
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-header;
  font-weight: 600;

  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */

.wrapper {
  display: flex;
  margin-left: 10px;
}

.sidebar {
  flex: 1 0 0;
}

.posts {
  flex: 2 0 0;
}

.sidebar,
.posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-five;
  border-radius: 5px;
}

/* Logo */

.logo {
  font-family: $font-logo;
  font-weight: 400;
  font-size: 104px;
  line-height: 1;
  text-align: center;
  color: $color-dark;
}

/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: $color-dark;
  .active {
    font-weight: bold;
  }
}

.list-horizontal {
  li {
    display: inline-block;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  display: none;
  color: $color-dark;
  &.active {
    display: block;
  }
}

.post-author {
  font-style: italic;
  color: $color-six;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
    color: $color-four;
  }
}
